@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #0a66c2;
  --color-secondary: #ffffff;
  --color-accent: #7fc15e;
  --color-neutral: #000000;
  --color-base-100: #f3f2ef;
  --color-info: #5e5e5e;
  --color-success: #057642;
  --color-warning: #f5c75d;
  --color-error: #cc1016;
}
